.filter-container {
    .filters {
        display: flex;
        gap: 10px;
        margin: 10px;
    }

    * {
        position: relative;
        z-index: -1;
    }
}

.p-inputtext {
    width: 10vw !important;
}